beautifulsoup4
bleach
contractions
ftfy
pytz
PyYAML
prompt_toolkit 
python-dotenv
requests
sympy
smolagents[litellm]
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
openinference-instrumentation-smolagents
duckduckgo_search
Unidecode